mat-expansion-panel {
  mat-expanded {
    mat-panel-title {
      font-weight: bold;
    }
  }
  margin-top: 1rem;
  mat-panel-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  mat-expansion-panel-header {
    height: auto !important;
  }
}

ion-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
