<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      {{ this.currentCategory.title }} Interview Questions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-spinner
    *ngIf="this.isLoading"
    style="margin:0 auto;"
    name="bubbles"
  ></ion-spinner>
  <div *ngIf="!this.isLoading">
    <mat-accordion
      multi="true"
      class="example-headers-align"
      *ngFor="let item of (_qa | async)"
    >
      <mat-expansion-panel [ngClass]="colorsObj.backgroundColor">
        <mat-expansion-panel-header
          collapsedHeight="*"
          expandedHeight="*"
          class="specific-class"
        >
          <mat-panel-title [ngClass]="colorsObj.textColor">
            {{ item.question }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div [ngClass]="colorsObj.textColor">
          <div [innerHtml]="item.formattedAnswer"></div>
        </div>
        <mat-action-row>
          <button mat-button>
            <mat-icon>share</mat-icon>
          </button>
          <button mat-button (click)="onFavorite(item.id)">
            <mat-icon>star_border</mat-icon>
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ion-content>
